[Network]
DHCP=yes
LLMNR=no
DNSSEC=no
LLDP=yes
EmitLLDP=yes

[DHCP]
ClientIdentifier=mac
UseDomains=yes
UseMTU=yes
RouteMetric=512

[Route]
Gateway=172.30.0.1
Destination=192.168.254.0/24
Metric=99
GatewayOnLink=yes

[Match]
Name=eth0
